<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<nav>
<div class="nav-wrapper">
    <a href="#!" class="brand-logo center">Dashboard</a>
    <ul class="left hide-on-med-and-down">
    <li><a href="/">Accueil</a></li>
    </ul>
</div>
</nav>        
<div class="container">
    <h5>Machine numéro {{host[0].idHote}}</h5>
    <ul class="collapsible expandable">
        <li>
            <div class="collapsible-header"><i class="material-icons">computer</i>General Info</div>
            <div class="collapsible-body"><div> 
                    <ul>
                        <li> OS: {{host[0].OS}}</li>
                        <li> Uptime: {{host[0].uptime}}</li>
                        <li> Hostname: {{host[0].nom}}</li>
                        <li> Kernel: {{host[0].noyaux}}</li>
                        <!--<li> CPU(s): </li> -->
                    </ul>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">settings</i>CPU Usage</div>
            <div class="collapsible-body"><div id="donutchart"></div></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">data_usage</i>Memory Usage</div>
            <div class="collapsible-body"><div id="chart_divLine"></div></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">inbox</i>Disk Usage // Type partition</div>
            <div class="collapsible-body"><div id="table_div"></div>
        </li>
    </ul>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{{ url_for('static', filename='js/machine.js') }}"></script>
<script type="text/javascript">
var idHote = '{{host[0].idHote}}';
</script>
</body>
</html>